/* 
=====
Body 
=====
*/
*{
	font-family: "Lato";
	background-color: black;
	text-decoration: none;
	color: white;
}

#detail{
	padding-bottom: 0;
}

.box{
	margin-top: 10px;
	margin-bottom: 10px;
}

.box-window{
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.absolute{
	overflow-y: hidden;
}

body{
	background-color:black;
	margin: 0;
	padding: 0;
}

/* 
=====
Font 
=====
*/

a, .p-2 {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	color: gray;
}

a:hover{
	color: white;
	text-decoration: none;
}

#logo{
	border-bottom: 1px solid white;
	width: 0px;
	display: inline-block;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	color: gray;
}

#logo:hover{
	color: white;
	text-decoration: none;
	width: 100%;
}


.confirmation{
	width: 600px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.title{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	text-decoration: none;
}

.title:hover{
	font-size: 45px;
	text-shadow: 0 0 50px white;
}

.invoice{
	margin-bottom: 0px;
}

/*
=====
Form
=====
*/

.form-group{
	width: 75%;
}

.btn{
	font-size: 35px;
	margin-top: 25px;
}

.btn:hover{
	box-shadow: 0 0 10px white;
}

#form1{
	margin-bottom: 50px;
}

.form-control{
	background-color: black;
	color: white;
	border-color: gray;
	border-radius: 5px;
	border-width: 1px;
}

.form-control:focus{
	background-color: black;
	color: white;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
	box-shadow: 0 0 10px white;
}

.form-control:hover{
	background-color: black;
	color: white;
	border-color: white;
	border-width: 1px;
}

/*
=====
Bootstrap
=====
*/
.jumbotron{
	background-color: black;
	border-radius: 0px;
}

/*
=====
Circle
=====
*/

.circle{
	background-color: gray;
	border-radius: 100px;
	margin-bottom: 10px;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;

	width: 120px;
	height: 120px;
}

.smallCircle{
	width: 50px;
	height: 50px;
	background-color: gray;
	border-radius: 100px;
	display: inline-block;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

/*
=====
Table
=====
*/

.table-responsive{
	height: 600px;
	overflow: auto;
	margin-bottom: 50px;
}

th{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

th:hover{
	background-color: white;
	color: black;
}

/*
=====
Stripe
=====
*/

.stripe{
	width: 90%;
	height: 1px;
	background-color: white;
}

/*
=====
Close Button
=====
*/
.close{
	margin: 50px;
	color: gray;
	opacity: 1;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.close:hover{
	color: white;
	text-shadow: 0 0 10px white;
	opacity: 1;
}

/*
=====
Dummy Image
=====
*/

.dummy-image{
	width: 300px;
	height: 400px;
	background-color: gray;
}

/**/

#logoutDesktop {
	display: inline-block;
}

#logoutMobile {
	display: none;
}

.tab , .rating {
	margin: 0.3cm 0.3cm 0cm 0cm;
}

.active-tab {
	color: white;
}

.tablinks a {
	color: white;
}

#txtSynopsis {
	margin-top: 15px;
}

.stripe.synopsis {
	margin-top: 14px;
}

#screen {
	background-color: #666878;
	border-radius: 5px;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 20px;
}

#seat-number {
	text-align: center;
}

.smallSquare {
	display: inline-block;
	background-color: #666878;
	margin: 2px;
}

.smallSquare:hover {
	background-color: #41c179;
}

.angka , .legend{
	display: inline-block;
}

.legends {
	padding: 0 8px;
}

.selectedSeat {
	background-color: #4da55e;
}

.unavailableSeat {
	background-color: #c14040;
}

/**/
@media screen and (min-width:1200px) {
	#screen {
		width: 400px;
		margin-top: 20px;
	}

	.angka {
		height: 35px;
		width: 35px;
		margin-left:5px;
	}

	.smallSquare {
		height: 35px;
		width: 35px;
		border-radius: 10px;
	}

	.legend {
		margin-right:70px;
		margin-top: 20px;
	}

	#btnChooseSeat {
		display: inline-block;
	}

	#dtlChooseSeat {
		margin-left:80px;
		display: inline-block;
	}
}

@media screen and (min-width:992px) and (max-width: 1199px) {
	#screen {
		width: 60%;
		font-size: 28px;
		height: 2.6rem;
	}

	.smallSquare {
		height: 50px;
		width: 50px;
		border-radius: 15px;
	}

	#seat-number {
		text-align: center;
		font-size: 20px;
	}

	.angka {
		height: 60px;
		width: 60px;
	}

	.legend {
		margin-top: 14px;
	}

	.section  {
		display: flex;
	}

	#btnChooseSeat {
		margin-top: -10px;
		display: inline-block;
	}

	#dtlChooseSeat {
		display: inline-block;
	}
}

@media screen and (min-width:768px) and (max-width: 991px) {
	#screen {
		margin-top: 20px;
		width: 75%;
	}

	.smallSquare {
		height: 45px;
		width: 45px;
		border-radius: 13px;
	}

	#seat-number {
		text-align: center;
		font-size: 18px;
	}

	.angka {
		height: 45px;
		width: 45px;
		margin-left: 6px;
	}

	.legend {
		margin-top: 14px;
	}

	.section  {
		display: flex;
	}

	#btnChooseSeat {
		margin-top: -10px;
		display: inline-block;
	}

	#btnChooseSeat button {
		font-size: 24px;
		margin: 0 auto;
	}

	#dtlChooseSeat {
		display: inline-block;
	}
}

@media screen and (min-width:481px) and (max-width: 767px) {
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 25px;
	}
	p{
		font-size: 15px;
	}

	.circle{
		width: 110px;
		height: 110px;
	}

	#screen {
		margin-top: 20px;
		width: 75%;
	}

	.smallSquare {
		height: 45px;
		width: 45px;
		border-radius: 13px;
	}

	#seat-number {
		text-align: center;
		font-size: 18px;
	}

	.angka {
		height: 45px;
		width: 45px;
		margin-left: 6px;
	}

	.legend {
		margin-top: 14px;
	}

	.section  {
		display: flex;
	}

	#btnChooseSeat {
		margin-top: -10px;
		display: inline-block;
	}

	#btnChooseSeat button {
		font-size: 24px;
		margin: 0 auto;
	}

	#dtlChooseSeat {
		display: inline-block;
	}

}

@media screen and (max-width: 480px) {
	#logoutDesktop {
		display: none;
	}

	#logoutMobile {
		display: inline-block;
	}

	.confirmation {
		width: 85%;
	}

	.stripe#navbarStripe {
		margin-left: 15px;
	}

	.circle {
		width: 65px;
		height: 65px;
	}

	.container-fluid.thumbnail.col-md-11.col-lg-6.col-xl-5 {
		display: none;
	}

	#screen {
		width: 75%;
		margin-top: 20px;
	}

	.smallSquare {
		height: 20px;
		width: 20px;
		border-radius: 6px;
	}

	.angka {
		height: 20px;
		width: 20px;
		/*font-size: 12px;*/
	}

	#seat-number {
		text-align: center;
		font-size: 12px;
	}

	.legend {
		margin-top: 14px;
	}

	.section  {
		display: flex;
		flex-direction: column-reverse;
	}

	#btnChooseSeat {
		margin-top: -20px;
		display: inline-block;
	}

	#btnChooseSeat button {
		/*margin-top: 50px;*/
		/*font-size: 18px;*/
		margin: 0 auto;
	}

	#dtlChooseSeat {
		margin: 0 0 0 20px;
		display: inline-block;
	}
}

/* css for fnb page */

.fnbcontainer-responsive {
	height: 500px;
	overflow: auto;
}

.summarycontainer-responsive {
	height: 365px;
	overflow-y: scroll;
}

