/* 
=====
Body 
=====
*/
*{
	font-family: "Lato", sans-serif;
	background-color: black;
	text-decoration: none;
	color: white;
}

#detail{
	padding-bottom: 0;
}

.box{
	margin-top: 10px;
	margin-bottom: 10px;
}

.box-window{
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.absolute{
	overflow-y: hidden;
}


body{
	background-color:black;
	margin: 0;
	padding: 0;
}

#memberAccept{
	font-size: 20px;
}

.invoice-pdf{
	width: 600px;
}

/*
=====
Pagination
=====
*/

.page-link{
	color: gray;
	background-color: black;
	border: 1px solid gray;
}

.page-link:hover{
	color: white;
	background-color: black;
}

.page-link:focus{
	color: black;
	background-color: white;
}

/* 
=====
Font
=====
*/

a, .p-2 {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	color: gray;
}

a:hover{
	color: white;
	text-decoration: none;
}

#logo{
	border-bottom: 1px solid white;
	width: 0px;
	display: inline-block;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	color: gray;
}

#logo:hover{
	color: white;
	text-decoration: none;
	width: 100%;
}


.confirmation{
	width: 600px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.title{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	text-decoration: none;
}

.title:hover{
	/*font-size: 45px;*/
	text-shadow: 0 0 50px white;
}

.invoice{
	margin-bottom: 0px;
}

#invoiceView{
	padding-left: 50px;
	padding-right: 50px;
}

.jumbotron .title {
	margin: 20px;
}

/*
=====
Form
=====
*/

.form-group{
	width: 75%;
}

.btn{
	font-size: 35px;
	margin-top: 25px;
}

.btn:hover{
	box-shadow: 0 0 10px white;
}

#form1{
	margin-bottom: 50px;
}

.form-control{
	background-color: black;
	color: white;
	border-color: gray;
	border-radius: 5px;
	border-width: 1px;
}

.form-control:focus{
	background-color: black;
	color: white;
	border-color: white;
	border-radius: 5px;
	border-width: 1px;
	box-shadow: 0 0 10px white;
}

.form-control:hover{
	background-color: black;
	color: white;
	border-color: white;
	border-width: 1px;
}

.tablinks{
	border-width: 2px;
	border-color: black;
	color: white;
}

/*
=====
Bootstrap
=====
*/
.jumbotron{
	background-color: black;
	border-radius: 0px;
}

/*
=====
Circle
=====
*/

.circle{
	background-color: gray;
	border-radius: 100px;
	margin-bottom: 10px;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;

	width: 120px;
	height: 120px;
}

.circle:hover{
	box-shadow: 0 0 30px white;
	opacity: 1;
}

.smallCircle{
	width: 50px;
	height: 50px;
	background-color: gray;
	border-radius: 100px;
	display: inline-block;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

/*
=====
Table
=====
*/
.table-responsive{
	overflow: auto;
	margin-bottom: 50px;
}

th{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

th:hover{
	background-color: white;
	color: black;
}

/*
=====
Stripe
=====
*/
.stripe{
	width: 100%;
	height: 1px;
	background-color: white;
}

/*
=====
Close Button
=====
*/
.close{
	margin: 30px;
	color: gray;
	opacity: 1;
	background-color: black;

	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.close:hover{
	color: white;
	text-shadow: 0 0 10px white;
	opacity: 1;
}

/*
=====
Dummy Image
=====
*/
.dummy-image{
	width: 300px;
	height: 400px;
	background-color: gray;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Begin */

#logoutDesktop {
	display: inline-block;
}

#logoutMobile {
	display: none;
}

.tab , .rating {
	margin: 0.3cm 0.3cm 0cm 0cm;
}

.active-tab {
	color: white;
}

.tablinks a {
	color: white;
}

::-webkit-scrollbar {
	width: 12px;
}

.filmcontainer-responsive.row , .box-window.synopsiscontainer-responsive , .fnbcontainer-responsive.row , .box-window.summarycontainer-responsive {
	overflow-y: auto;
	overflow-x: hidden;
}

#txtSynopsis , .stripe.synopsis , #txtSummary , .stripe.summary {
	margin-top: 15px;
}

#screen {
	background-color: #666878;
	border-radius: 5px;
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 20px;
}

#seat-number {
	text-align: center;
}

.smallSquare {
	height: 45px;
	width: 45px;
	border-radius: 13px;
	margin: 4px;
	display: inline-block;
	background-color: #666878;
}

.smallSquare:hover {
	background-color: #41c179;
}

.row.nonSeat {
	text-align: center;
}

.legend {
	margin-top: 8px;
	display: inline-block;
}

.section {
	display: flex;
}

#txtChosenMovie {
	margin-top: -10px;
	font-size: 34px;
}

#txtChosenMovieDetail {
	font-size: 28px;
}

#btnChooseSeat {
	display: inline-block;
	margin: 0 auto;
}

.legends {
	padding: 0 8px;
}

.selectedSeat {
	background-color: #4da55e;
}

.unavailableSeat , .unavailableSeat:hover {
	background-color: #c14040;
}

.legends .nonSeat {
	pointer-events: none;
}

.huruf {
	display:inline-block;
	width:35px;
	vertical-align:top;
	padding-right:20px;
}

.angka {
	height: 55px;
	width: 55px;
	display: inline-block;
}

.row.seat {
	display: inline-block;
	padding: 10px;
}

.row.amount {
	margin: 16px 0 -16px 0;
}

.print-invoice {
	margin: 20px;
}
/* End */

@media screen and (min-width:1200px) {
	.box-window.synopsiscontainer-responsive , .fnbcontainer-responsive.row {
		height: 80vh;
	}

	.box-window.summarycontainer-responsive {
		height: 35vh;
	}

	#screen {
		width: 50%;
		line-height: 1.8rem;
		font-size: 18px;
	}
	
	.row.nonSeat {
		margin-left: 60px;
	}

	.legend {
		width: inherit;
	}

	.section {
		padding: 0 40px;
	}
	
	.col-xl-6.d-inline {
		text-align: left;
	}

	#btnChooseSeat button {
		font-size: 34px;
	}

	#dtlChooseSeat {
		margin-left: 80px;
	}
}

@media screen and (min-width:992px) and (max-width: 1199px) {
	.box-window.synopsiscontainer-responsive , .fnbcontainer-responsive.row {
		height: 88vh;
	}

	.box-window.summarycontainer-responsive {
		height: 60vh;
	}

	#screen {
		width: 60%;
		line-height: 2rem;
	}

	div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-3 {
		display: contents;
	}

	.row.nonSeat {
		margin-top: 8px;
	}

	.section {
		flex-direction: column-reverse;
	}

	#dtlChooseSeat {
		padding: 24px 0;
		display: inline-block;
	}

	#txtChosenMovie {
		font-size: 32px;
	}

	#txtChosenMovieDetail {
		font-size: 28px;
	}

	#btnChooseSeat button {
		font-size: 32px;
	}
}

@media screen and (min-width:768px) and (max-width: 991px) {
	.fnbcontainer-responsive.row {
		height: 42vh;
	}

	.row.cashier .container-fluid.thumbnail.col-12.col-sm-12.col-md-11.col-lg-6.col-xl-7 {
		height: 50vh;
	}

	.container-fluid.thumbnail.col-lg-6.col-xl-5 , .col-lg-12.col-xl-10 h5, #keranjang , #txtSummary {
		display: none;
	}

	.container-fluid.thumbnail.col-11.col-sm-11.col-md-11.col-lg-6.col-xl-5.cashier {
		display: block;
	}

	#screen {
		width: 60%;
		line-height: 1.8rem;
	}

	.smallSquare {
		height: 35px;
		width: 35px;
		border-radius: 12px;
		margin: 2px;
	}

	.angka {
		height: 40px;
		width: 40px;
	}

	div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-3 {
		display: contents;
	}

	.row.nonSeat {
		margin-top: 8px;
	}

	.section {
		flex-direction: column-reverse;
	}

	#txtChosenMovie {
		font-size: 28px;
	}

	#txtChosenMovieDetail {
		font-size: 22px;
	}

	#btnChooseSeat button {
		font-size: 28px;
	}

	#dtlChooseSeat {
		padding: 24px 0;
		display: inline-block;
	}

}

@media screen and (min-width:481px) and (max-width: 767px) {
	h1{
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 15px;
	}

	.circle{
		width: 110px;
		height: 110px;
	}

	.fnbcontainer-responsive.row {
		height: 55vh;
	}

	.container-fluid.cashier input {
		height: 16px;
	}

	.row.amount {
		margin: 8px 0 0 0;
	}

	.container-fluid.thumbnail.col-lg-6.col-xl-5 {
		font-size: 14px;
	}

	.row.cashier button {
		margin: 0;
		font-size: 16px;
	}

	.row.cashier .container-fluid.thumbnail.col-12.col-sm-12.col-md-11.col-lg-6.col-xl-7 {
		height: 65vh;
	}

	.col-lg-12.col-xl-10 h5, #keranjang , #txtSummary {
		display: none;
	}

	#screen {
		width: 75%;
	}

	.smallSquare {
		height: 30px;
		width: 30px;
		border-radius: 10px;
		margin: 2px;
	}

	.angka {
		height: 35px;
		width: 35px;
	}

	div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-3 {
		display: contents;
	}

	.row.nonSeat {
		margin-top: 8px;
	}

	.section {
		flex-direction: column-reverse;
	}

	#txtChosenMovie {
		font-size: 24px;
	}

	#txtChosenMovieDetail {
		font-size: 18px;
	}

	#btnChooseSeat button {
		font-size: 24px;
	}

	#dtlChooseSeat {
		margin: 24px 0;
		display: inline-block;
	}
}

@media screen and (max-width: 480px) {
	#logoutDesktop {
		display: none;
	}

	#logoutMobile {
		display: inline-block;
	}

	.confirmation {
		width: 85%;
	}

	.circle {
		width: 65px;
		height: 65px;
	}

	.fnbcontainer-responsive.row {
		height: 40vh;
	}

	.container-fluid.cashier input {
		height: 16px;
	}

	.row.amount {
		margin: 8px 0 0 0;
	}

	.container-fluid.thumbnail.col-lg-6.col-xl-5 {
		font-size: 12px;
	}

	.row.cashier button {
		margin: 0;
		font-size: 14px;
	}

	.col-lg-12.col-xl-10 h5, #keranjang , #txtSummary {
		display: none;
	}

	#screen {
		width: 75%;
		margin-top: 20px;
	}

	.smallSquare {
		height: 20px;
		width: 20px;
		border-radius: 6px;
		margin: 2px;
	}

	.angka {
		height: 25px;
		width: 25px;
		padding-left: 16px;
	}

	#seat-number {
		font-size: 12px;
	}

	div.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-3 {
		display: contents;
	}

	.section {
		flex-direction: column-reverse;
	}

	#txtChosenMovie {
		font-size: 18px;
	}

	#txtChosenMovieDetail {
		font-size: 14px;
	}

	#btnChooseSeat button {
		font-size: 18px;
		margin-top: 0px;
	}

	#dtlChooseSeat {
		display: inline-block;
	}

	.container.ledger .table-responsive .table.table-hover {
		font-size: 12px;
	}

	.ledger.total-income h4 {
		font-size: 20px;
	}

	.jumbotron .title {
		margin-left: 50px;
	}

}

/* Film Choose - Style the tab */
div.tab {
	overflow: hidden;
	background-color: #f1f1f1;
	background-color: black;
}

/* Style the buttons inside the tab */
div.tab button {
	background-color: inherit;
	border-width: 1px;
	float: left;
	width: 60px;
	outline: none;
	cursor: pointer;
	padding: 0 10px;
	transition: 0.3s;
	font-size: 16px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
	background-color: #ccc;
}